
@model IEnumerable<Department>
@{
    ViewData["Title"] = "All departments";
}


<a asp-action="Create" class="btn btn-success">create New Department </a>
@if (Model.Count() > 0)
{
    <h1>All Departments</h1>
    <br />
    <table class="table table-striped table-hover mt-3">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(d=>d.name)</td>
            <td>@Html.DisplayNameFor(d=>d.code)</td>
            <td>@Html.DisplayNameFor(d=>d.dateOFCreation)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
            {
                <tr>
                    <td>@department.code</td>
                    <td>@department.name</td>
                    <td>@department.dateOFCreation</td>
                    <partial name="_ButtomsPartialView" model="@department.Id" />

                </tr>
            }
    </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">there are no product Here</div>
}
